<ngx-charts-chart
  [view]="[width, height]"
  [showLegend]="legend"
  [legendOptions]="legendOptions"
  [activeEntries]="activeEntries">
  <svg:g id="nodes" *ngFor="let node of nodes" >
    <svg:g class="node" [id]="styleNodeId(node)" [attr.transform]="transform" (click)="onNodeClick(node)">
      <circle
        class="figure"
        [r]="node.radius"
        [cursor]="node.cursor"
        [style]="node.styles"
        [transform]="node.transform"
      ></circle>
      <text
        class="text"
        [text-anchor]="node.text.anchor_node"
        [x]="node.text.x"
        [y]="node.text.y"
        [style]="node.text.style">
        {{node.name}}</text>
    </svg:g>
  </svg:g>   

  <svg:g id="paths" *ngFor="let link of links">
    <path     
      class="link"
      [d]="link"
      [stroke]="link.stroke"
      [fill]="link.fill"
      (click)="onLinkClick(link)"> </path>
  </svg:g>


</ngx-charts-chart>
