<ngx-charts-chart
  [view]="[width, height]"
  [showLegend]="false">

  <svg:g xmlns="http://www.w3.org/2000/svg"  class="tree-graph chart" [attr.transform]="transform">

    <g ngx-charts-tree-graph-nodes *ngFor="let node of nodes">
      <g node [id]="styleNodeId(node)" (click)="onNodeClick(node)"/>
        <circle
          class="node"
          [r]="node.radius"
          [cursor]="node.cursor"
          [style]="node.styles"
          [transform]="node.transform"
        ></circle>
        <text
          [text-anchor]="node.text.anchor_node"
          [x]="node.text.x"
          [y]="node.text.y"
          [style]="node.text.style"
        >{{node.name}}</text>
    </g>
    </g>

        <g ngx-charts-tree-graph-links *ngFor="let link of links"/>
        <path
          class="link"
          [d]="link"
          [stroke]="link.stroke"
          [fill]="link.fill"
          (click)="onLinkClick(link)"> </path>
        </g>
  </svg:g>

</ngx-charts-chart>
